.navbar{
    height: 95px;
   
}
.nav-right > .navbar-brand{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
}

.nav-right > .navbar-brand:hover{
    color: #003F7E;
    border-bottom: solid 4px #E05D0F;
}
.back{
    font-family: Poppins;
    position: absolute;
}
.nama-bantuan{
    font-family: Poppins;
    font-weight: 500;
    font-size: 27px;
    height: 39px;
}
.img-bantuan{
    width: 300px;
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
   
}

.program{
    transition: 0.3s;
}
.program:hover{
    transform: scale(1.05);
}

.bantuan{
    background-color: #003F7E;
    height: 435px;
    color:#ffff;
}

.logo-sponsor{
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
}
.jenis-bantuan{
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    color: #003F7E;
    background-color: white;
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
}
.offered{
    width: 82px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: solid 2px white;
}
.title-lengkapi-dokumen{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
}

.sub-title-lengkapi-dokumen{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.line{
    width: 40vw;
    border-bottom: solid 5px #F27C36;
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
}

.card{
    border: 5px solid #003F7E;
    border-radius: 30px;
    box-shadow: .0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
}

form{
    font-family: Poppins;
}
.form-label{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.form-control{
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
    border: solid #003F7E;
    border-radius: 10px;
}

.form-control:focus{
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
    border: solid #F27C36;
}
.btn{
    height: 40px;
    width: 500px;
    border-radius: 30px;
    letter-spacing: 5px;
    color:white;
    background-color: #E05D0F;
    box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover{
    color:white;
    background-color: #F27C36
}

