/* Navbar tambahan*/


.nav > .nav-item > .nav-link {
    color: rgb(8, 8, 8);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    padding: 8px;
}

.nav > .nav-item > .nav-link:hover {
    color: #003F7E;
    border-bottom: solid 3px #E05D0F;
}


/* Navbar farhan*/

.nav > .nav-item > .nav-link {
    color: rgb(8, 8, 8);
}

.nav-left > p {
    color: #003F7E;
}

.navbar{
    height: 80px;
   
}
.nav-right > .navbar-brand{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
}

.nav-right > .navbar-brand:hover{
    color: #003F7E;
    border-bottom: solid 4px #E05D0F;
}


#higlight {
    color: #003F7E;
    border-bottom: solid 4px #E05D0F;
}



/* List bantuan*/

#isicard {
    padding-right: 10px;
    padding-left: 10px;
    margin: 1em;
    width: 18rem;
}

#isicard img {
    
}


#pembungkusCard{
    display: flex;
    flex: wrap;
    justify-content: space-between;
}


/* Tentang bantuin.aja */

#about {
    background-color: #003F7E;
    color: #ffff;
    width: 100%;
    height: 90vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-fle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#bantuin h1 {
    text-align: center;
    align-items: center;
}


/* See more*/

#more a {
    text-align: center;
   margin-bottom: 20px;
}

#more a:hover {
    color: rgb(235, 190, 14);
}

#more {
    margin-right: 100px;
}

#listbantuan {
    margin-top: 30px;
    margin-bottom: 30px;
}




/*TAHAPAN BANTUAN*/


#tahapan {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
}

#tahapan h1 {
    text-align: center;
}


#tahapan i {
    font-size: 65px;
    color: #003F7E;
}


/* FOOTER */
ul{
    list-style: none;
}
ul > li{
    margin-bottom: 5px;
}
.footer{
    margin-top: 100px;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.alamat{
    width: 40vw;
}

.img-footer{
    width: 150px;
    height: 100px;
}


@media screen and (max-width: 900px) {
    #card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
        flex-direction: row;
        padding: 0;
    
    }    
    
    .card{
        width: 25%;
        margin: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
    }
    
    .card img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .card-body{
        display: flex;
        justify-content: space-between;
    }

    
}
    

